@font-face {
    font-family: Poppins;
    src: url(/asset/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Spartan;
    src: url(/asset/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;
}

main {
    background-color: black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
}

/* this is my hero section */


.hero-section {
    height: 100vh;
    font-family: Spartan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    width: 50%;
    text-align: center;
}

.hero-text h1 {
    font-weight: 500;
    font-size: 80px;
    color: white;
}

.hero-text p {
    font-weight: 200;
    font-size: 24px;
    color: white;
}

.hero-text span {
    color: #ff0044;
}

.hero-image {
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hero-image img {
    margin-top: -100px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: fit-content;
}

.logo a {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
    font-family: Spartan;
    color: black;
    color: white;
}

/* btn section */
.btn-section {
    height: 84.4px;
    position: relative;
}


.about-me-btn {
    background: linear-gradient(to right, #004c7e, #49b4ae);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .3s ease-in-out;
}

.about-me-btn:hover {
    transform: scale(0.9);
}

.btn-section-2 {
    position: absolute;
    margin-top: -150px;
    left: 50%;
    transform: translate(-50%);

}


/* this is my popup card */

.popup-card {
    visibility:hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 700px;
    /* border: 1px solid white; */
    background-color:#1a1a1a;
    z-index: 1;
    display: flex;
    color: white;
    padding:60px 0  60px;
    border-radius: 5px;
    /* transition: 1s ease-in-out; */
    /* transform: scale(0); */
}

.popup-card-show{
    visibility:visible;
    opacity: 1;
    /* transform: scale(1); */
}
.sub-hero-text {
    width: 50%;
    display: flex;
    justify-content: center;
}

.sub-hero-image {
    width: 50%;
    display: flex;
}

.popup-card h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: start;
    color: #1788ad
}

.popup-card .about-me{
    margin: 20px 0 ;
}

.popup-card p {
    font-size: 20px;
    text-align: start;
    line-height: 30px;
}

.sub-hero-image img {
    width: 100%;
    margin: auto;
}


/* tags */
.tags{
    margin-top: 20px;
}
.tag{
    display: inline-block;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 20px;
}

.mern-stack{
    margin: 50px 0 ;
}


/* this is close btn */

.close-btn{
    position: absolute;
    top: 2%;
    left: 95%;
    margin: 0;  
    padding: 0;
    color: rgb(184, 184, 184);
}

.close-btn .close{
    font-size: 16px; 
    margin: 0;  
    padding: 0;
    cursor: pointer;
}

.close-btn .close:hover{
    color: rgb(255, 255, 255);
    text-shadow:0px 0px 1px rgb(255, 255, 255);
}





/* media query */

/* @media () */