@font-face {
    font-family: Poppins;
    src: url(/asset/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Spartan;
    src: url(/asset/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;
}

main {
    background-color: black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
}

/* this is my hero section */


.hero-section {
    height: 100vh;
    font-family: Spartan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    width: 50%;
    text-align: center;
}

.hero-text h1 {
    font-weight: 500;
    font-size: 80px;
    color: white;
}

.hero-text p {
    font-weight: 200;
    font-size: 24px;
    color: white;
}

.hero-text span {
    color: #ff0044;
}

.hero-image {
    width: 50%;
    /* height: 100%; */
    /* margin-right: -150px; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hero-image img {
    margin-top: -100px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: fit-content;
}

.logo a {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
    font-family: Spartan;
    color: black;
    color: white;
}

/* btn section */
.btn-section {
    height: 84.4px;
    position: relative;
}


.about-me-btn {
    background: linear-gradient(to right, #004c7e, #49b4ae);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .3s ease-in-out;
}

.arrow {
    display: inline-block;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    margin-left: 5px;
    /* transition: 10s eas; */
}

.arrow img {
    height: 30px;
    /* filter: brightness(0)saturate(100%)invert(100%); */
}


.about-me-btn:hover {
    transform: scale(0.9);
}


/* .about-me-btn:hover .arrow img {
    margin-left: 10px;
} */


.btn-section-2 {
    position: absolute;
    margin-top: -150px;
    left:50%;
    transform:translate(-50%);

}